# Database (Docker & Spring Boot)
POSTGRES_DB=Enter YOUR_DATABASE_NAME_HERE
POSTGRES_USER=Enter YOUR_DATABASE_USER_HERE
POSTGRES_PASSWORD=Enter YOUR_DATABASE_PASSWORD_HERE
POSTGRES_PORT=Enter YOUR_DATABASE_PORT_HERE

# AI Provider & OpenRouter
OPENROUTER_API_KEY=Enter YOUR_OPENROUTER_API_KEY_HERE
PATIENTY_AI_PROVIDER=Enter YOUR_AI_PROVIDER_HERE
PATIENTY_AI_OPENROUTER_MODEL=Enter YOUR_MODEL_NAME_HERE