* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf

*.gradle text eol=lf
*.java text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.properties text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
backend/gradlew text eol=lf

*.bat text eol=crlf
*.ico binary
*.jar binary
